
{% extends 'indexagency.html' %}
{% block body %}
{%endblock%}
<!--<body>-->
<!--<p><a href="aviewpkg">VIEW PACKAGE AND SENT REQUEST</a>-->
<!--</p>-->
<!--<p><a href="aviewreqstatus">VIEW REQUEST STATUS</a></p>-->
<!--<p><a href="sentamt">SENT AMOUNT TRANSFER REQUEST AND VIEW STATUS</a></p>-->
<!--<p><a href="viewtransferstatus">  VIEW TRANSFER REQUEST STATUS</a></p>-->

<!--<p><a href="complaint">SENT COMPLAINT</a></p>-->
<!--<p><a href="viewerply">VIEW REPLY</a></p>-->
<!--<p><a href="#">TRACK TRANSFER INFO</a></p>-->
<!--</body>-->
</html>
