{% extends 'indexadmin.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/officerreg">
  <table width="548" border="0" class="table">
      <tr>
      <th width="289" scope="row">DISTRICT</th>
      <td width="243">
        <select name="select">
            <option>Select</option>
          <option>Malappuram</option>
          <option>Thiruvananthapuram</option>
          <option>Eranakulam</option>
          <option>Thrissur</option>
          <option>Kozhikode</option>
          <option>Palakad</option>
          <option>Kollam</option>
          <option>kannur</option>
          <option>Alappuzha</option>
          <option>Kottayam</option>
          <option>Kasaragod</option>
          <option>Pathanamthitta</option>
          <option>idukki</option>
          <option>Wayanad</option>

        </select>
      </td>
    </tr>

    <tr>
      <th width="289" scope="row">FIRST NAME</th>
      <td width="243">&nbsp;<input type="text" name="textfield01" id="textfield1" required pattern="[A-Z a-z.]{3,25}"  /></td>
    </tr>
    <tr>
      <th scope="row">LAST NAME</th>
      <td>&nbsp;<input type="text" name="textfield02" id="textfield11" required pattern="[A-Z a-z.]{1,25}"  /></td>
    </tr>
    <tr>
      <th scope="row">GENDER</th>
      <td><input type="radio" name="radio" id="radio" value="male" checked />
      <label for="radio">MALE
        <input type="radio" name="radio" id="radio2" value="female" />
      FEMALE</label></td>
    </tr>
    <tr>
      <th scope="row">DOB</th>
      <td><label for="textfield"></label>
      <input type="date" name="textfield" id="textfield" required /></td>
    </tr>
    <tr>
      <th scope="row">PLACE</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2"  required pattern="[A-Z a-z.]{3,25}" /></td>
    </tr>
    <tr>
      <th scope="row">POST</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" required pattern="[A-Z a-z.]{3,25}"
      /></td>
    </tr>
    <tr>
      <th scope="row">PIN</th>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" required pattern="[0-9]{6}" /></td>
    </tr>
    <tr>
      <th scope="row">PHONE</th>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" required pattern="[6789][0-9]{9}" /></td>
    </tr>
    <tr>
      <th scope="row">EMAIL</th>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" /></td>
    </tr>
    <tr>
      <th scope="row">QUALIFICATION</th>
      <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7" required /></td>
    </tr>
 <tr>
      <th width="289" scope="row">OFFICE NAME</th>
      <td width="243">&nbsp;<input type="text" name="textfields" id="textfiel" required pattern="[A-Z a-z.]{3,25}"  /></td>
    </tr>
 <tr>
      <th width="289" scope="row">OFFICE ADDRESS</th>
   <td width="243">&nbsp;<textarea name="textfields1" required ></textarea></td>
    </tr>
 <tr>
      <th width="289" scope="row">DESIGNATION</th>
      <td width="243">&nbsp;<input type="text" name="textfields2" id="textfiel" required pattern="[A-Z a-z.]{3,25}"  /></td>
    </tr>



     <tr>
      <th scope="row">USERNAME</th>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield8" id="textfield6" required /></td>
    </tr>
    <tr>
      <th scope="row">PASSWORD</th>
      <td><label for="textfield7"></label>
      <input type="password" name="textfield9" id="textfield7" required /></td>
    </tr>
    <tr>></th>
    </tr>
  </table>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit" />
</form>
</body>
{%endblock%}

