

{% extends 'indexadmin.html' %}
{% block body %}
{%endblock%}

<!--<body>-->
<!--<p><a href="/viewstaff">add and mange staff</a>-->
<!--</p>-->
<!--<p><a href="/approvepackage">package approve reject</a></p>-->
<!--<p><a href="/approveagency">view agency and approve</a></p>-->
<!--<p><a href="/blockagency">block or unblock agency</a></p>-->
<!--<p><a href="/viewcomplaint">view complaint sent reply</a></p>-->
<!--<p><a href="/trackpackage">track package status</a></p>-->
<!--</body>-->
</html>
