{% extends 'indexofficer.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/searchpackage1#about">

<table width="200" border="0" class="table">
    <tr>
    <th scope="col">TYPE</th>
    <th scope="col"><label for="select"></label>
      <select name="select" id="select">
                <option value="school">SCHOOL</option>

        <option value="college">COLLEGE</option>
        <option value="university" >UNIVERSITY</option>
        <option value="other">OTHER</option>
    </select></th>
    <th scope="col"><input type="submit" name="button2" id="button2" value="Submit"></th>
  </tr>
  <tr>
    <th scope="row">PACKAGE</th>
    <th>DESCRIPTION</th>
    <th>STATUS</th>
  </tr>
  {%for i in val%}
  <tr>
    <th scope="row">{{i[2]}}&nbsp;</th>
    <td>&nbsp;{{i[3]}}</td>
    <td>&nbsp;{{i[4]}}</td>
  </tr>
  {%endfor%}
</table>
</form>
</body>
{%endblock%}